            <h2>Contact</h2>
            <p>Please email support @computersoulutions.fake</p>
            <h3>Locations</h3>
            <ul class="location">
            <li>Lyn IT Park</li>
            <li>#42 Anepalye</li>
            <li>8867138970</li>
            </ul>
            <ul class="location">
            <li>United States</li>
            <li>#42 Anepalye</li>
            <li>8867138970</li>
            </ul>
            <ul class="location">
            <li>AMsterdam</li>
            <li>#42 Anepalye</li>
            <li>8867138970</li>
            </ul>